<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <a th:href="@{/security/uploadForm}" type="button" class="btn btn-primary">Add Security with History</a>
    <div class="row">
        <h2>List security</h2>
        <hr/>
        <table class="table table-bordered table-stripe ">
            <thead>
            <tr>
                <th>Secid</th>
                <th>Regnumber</th>
                <th>Name</th>
                <th>Emitent_title</th>
                <th>Tradedate</th>
                <th>Numtrades</th>
                <th>Open</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="security: ${securities}">
                <td class="align-middle" th:text="${security.secId}"/>
                <td class="align-middle" th:text="${security.regNumber}"/>
                <td class="align-middle" th:text="${security.name}"/>
                <td class="align-middle" th:text="${security.emitentTitle}"/>
                <td class="align-middle" th:text="${security.tradeDate}"/>
                <td class="align-middle" th:text="${security.numTrades}"/>
                <td class="align-middle" th:text="${security.open}"/>
                <td class="align-middle">
                    <form th:action="@{/security/updateForm(securityId=${security.id})}" th:method="put">
                        <input type="submit" value="Update Security" class="btn btn-info"/>
                    </form>
                    <hr>
                    <div class="container">
                    <div class="row" th:if="${secId != null}">
                        <form th:action="@{/history/updateForm(secId=${security.secId})}" th:method="put">
                            <input type="submit" value="Add/Update History" class="btn btn-info"/>
                        </form>
                    </div>
                    <div class="row" th:if="${secId == null}">
                        <form th:action="@{/security}" th:method="get">
                            <input type="submit" value="Add/Update History" class="btn btn-info"/>
                        </form>
                    </div>
                    </div>
                </td>
                <td class="align-middle">
                    <form th:action="@{/security/deleteSecurity(securityId=${security.id})}" th:method="delete">
                        <input type="submit" value="Delete Security" class="btn btn-danger"/>
                    </form>
                    <hr>
                    <div class="container">
                    <div class="row" th:if="${secId != null}">
                        <form th:action="@{/history/deleteHistory(secId=${security.secId})}" th:method="delete">
                            <input type="submit" value="Delete History" class="btn btn-danger"/>
                        </form>
                    </div>
                    <div class="row" th:if="${secId == null}">
                        <form th:action="@{/security}" th:method="get">
                            <input type="submit" value="Delete History" class="btn btn-danger"/>
                        </form>
                    </div>
                    </div>
                </td>
            </tr>
            </tbody>

        </table>
    </div>

</div>
</body>
</html>