<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot & Thymeleaf File Upload</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <h2>Update history</h2>
            <hr/>
            <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
            <form th:action="@{/history/updateHistory}" th:object="${historyDto}" th:method="put">
                <input type="hidden" th:field="*{secId}">
                <input type="text" th:field="*{tradeDate}" placeholder="Enter tradedate"
                       class="form-control col-4 mb-4">
                <input type="text" th:field="*{numTrades}" placeholder="Enter numtrades"
                       class="form-control col-4 mb-4">
                <input type="text" th:field="*{open}" placeholder="Enter (yes) if open, (no) if close"
                       class="form-control col-4 mb-4">
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 mx-auto">
            <h2>Upload file for update</h2>
            <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
            <form method="post" th:action="@{/history/uploadHistory}" th:object="${historyDto}" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="file" th:field="*{file}" class="form-control-file">
                    <input type="hidden" th:field="*{secId}">
                </div>
                <button type="submit" class="btn btn-primary">Upload File</button>
            </form>
        </div>
    </div>
</div>
<hr/>
<div class="col border-end  d-flex justify-content-center align-items-center">
    <button type="button" th:href="@{/security}" class="btn btn-primary float-center">Back to main page</button>
</div>
</body>
</html>